apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}-deployment
  labels:
    app: {{ name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ name }}
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      containers:
      - name: nginx
        image: nginx:{{ image }}
        ports:
        - containerPort: {{ port }}
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config-file-custom